<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shiming.performanceoptimization">

    <!-- 给与位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission
        android:name="android.permission.UPDATE_DEVICE_STATS"
        tools:ignore="ProtectedPermissions" />


    　


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- WakeLock 的使用 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".code_optimization.CodeOptimizationActivity" />
        <activity android:name=".code_optimization.HandlerActivity" />
        <activity android:name=".code_optimization.ContextActivity" />

        <receiver
            android:name=".code_optimization.MyBroadcaseRecriver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".code_optimization.JavaFourWaysOfReferenceActivity" />
        <activity android:name=".image_optimization.ImageOptimizationActivity" />
        <activity android:name=".electric_quantity_optimization.ElectricQuantityOptimizationActivity" />

        <receiver android:name=".electric_quantity_optimization.MyReceiver">
            <intent-filter>
                <action android:name="action" />
            </intent-filter>
        </receiver>

        <activity android:name=".layout_Optimization.LayoutOptimizationActivity" />
        <activity android:name=".layout_Optimization.MergeLayoutActivity" />
        <activity android:name=".network_optimization.NetWorkOptimizationActivity"></activity>
    </application>

</manifest>